<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="src/assets/images/pic1.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h4 class="card-title"><strong>Build Your Homezz</strong></h4>          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><strong>Home Appliances Repair</strong></h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><strong>Plumber Service</strong></h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
